:root{
    --vermelho:#E50914;
    --preto:#141414;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*elementos base*/
body{
    background: var(--preto);
    font-family: 'Times New Roman', Times, serif;
    color: white;
}

header div.container{
    display: flex;
    align-items: center;
    justify-content: space-between;
   
}

header .logo{
    margin-left: 5px;
    color: var(--vermelho);
    font-family:Arial, Helvetica, sans-serif;
    font-size: 40px;
}

header nav a{
    text-decoration: none;
    color: #AAA;
    margin-right: 10px;

}

header nav a:hover{
    color: #fff;
}
/*Filme principal*/
.filme-principal{
    font-size: 16px;
    background: linear-gradient(rgba(0,0,0,.50),rgba(0,0,0,.50)100%), url('maxresdefault\ \(1\).jpg');

    height: 400px;
    background-size: cover;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.video{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
    margin-left: 50px;
    margin-top: 100px;
}
.icones{
  width: 200px;
  margin: auto;
  padding: auto;
  margin-top: 50px;
  cursor: pointer;
}

.icones img{
    padding: 10px;
}

.descricao-filme{
  
    font-size: 20px;
    width: 30%;
    padding-right: 40px;
    
}

.filme-principal .descricao{
    margin-top: 10px;
    margin-bottom: 40px;
}

.title{
    margin-top: 15%;
    font-size: 40px;
    text-transform: uppercase;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    
}

.botao{
    background-color: rgba(0,0,0,.50);
    border: none;
    color: white;
    text-transform: uppercase;
    font-family:Arial, Helvetica, sans-serif;

    padding: 15px 30px;
    margin-right: 15px;
    font-size: 12px;

    cursor: pointer;
    transition: .3s ease all;
}

.botao:hover{
    background-color: white;
    color: var(--preto);
}

.botao i{
    margin-right: 5px ;
}

.container{
    margin-left: 20px;
    
}

.filme-principal .container{
    width: 70%;
}

.box-filme{
    max-width:280px;
    max-height:350px;
    width: auto;
    height: auto;
    display: block;
    
}

.carrosel-filmes{
    margin-top:5px;
}

.footer{
    background-color: black;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
}